Source: sarien
Section: contrib/games
Priority: extra
Maintainer: Peter Makholm <peter@makholm.net>
Build-Depends: debhelper (>> 3.0.0), libsdl1.2-dev (>= 1.2.2-3.1), docbook-to-man
Standards-Version: 3.5.2

Package: sarien
Architecture: any
Depends: ${shlibs:Depends}
Description: An interpreter for AGI resources
 Sarien decodes and plays games written for the Sierra
 On-Line Adventure Game Interpreter (AGI) system, such as Leisure Suit
 Larry in the Land of the Lounge Lizards, Space Quest I and II, and
 King's Quest I to IV. Currently AGI versions 2 and 3 are recognized;
 support for older AGI v1 games is not available.
 .
 You need the files from the original games.

