Source: sarien
Section: contrib/games
Priority: extra
Maintainer: Peter Makholm <peter@makholm.net>
Build-Depends: debhelper (>> 3.0.0), xlibs-dev
Standards-Version: 3.5.2

Package: sarien
Architecture: any
Depends: ${shlibs:Depends}
Description: An interpreter for AGI resources
 The old Sierra games are made with the AGI engine. Sarien 
 is a free interpreter for AGI resources.
 .
 Games written in AGI includes:
   * Kings Quest I - IV
   * Police Quest
   * Leisure Suit Larry
 .
 You need the files from the original games.

