
#include <windows.h>
#include "resource.h"


ICON_MAIN ICON "sarien.ico"


MENU_MAIN MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Open...", ITEM_FILE_OPEN
		MENUITEM SEPARATOR
		MENUITEM "E&xit", ITEM_FILE_EXIT
	END

	POPUP "&Options"
	BEGIN
		POPUP "Window &size"
		BEGIN
			MENUITEM "&Small (320x240)", ITEM_OPTIONS_SIZE_SMALL
			MENUITEM "&Large (640x480)", ITEM_OPTIONS_SIZE_LARGE
		END

		POPUP "&Aspect ratio"
		BEGIN
			MENUITEM "&8:5 (320x200)", ITEM_OPTIONS_RATIO_85
			MENUITEM "&4:3 (320x240)", ITEM_OPTIONS_RATIO_43
		END

		POPUP "&Palette"
		BEGIN
			MENUITEM "PC &CGA colors", ITEM_OPTIONS_PAL_CGA
			MENUITEM "PC &EGA colors", ITEM_OPTIONS_PAL_EGA
			MENUITEM "&Amiga-ish colors", ITEM_OPTIONS_PAL_NEW
		END

		POPUP "&Resolution"
		BEGIN
			MENUITEM "&Low (160x162)", ITEM_OPTIONS_RES_LOW
			MENUITEM "&High (320x162)", ITEM_OPTIONS_RES_HIGH
		END
	END

	POPUP "&Help"
	BEGIN
		MENUITEM "&About Sarien...", ITEM_HELP_ABOUT
	END
END


DIALOG_ABOUT DIALOG DISCARDABLE 20, 20, 250, 150
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Sarien"
FONT 8, "Helv"
BEGIN
	CTEXT "Sarien - A Sierra AGI Resource Interpreter Engine\r\n\
Version 0.8.0", -1, 5, 5, 240, 20

    CTEXT "Written by Stuart George, Lance Ewing, Felipe Rosinha, \
Claudio Matsuoka, Igor Nesterov, Vasyl Tsvirkunov and Thomas Akesson. \
See the AUTHORS file for a complete list of contributors.",-1, 5, 25, 240, 55
    CTEXT "Win32 port written by Felipe Rosinha. Fixes and improvements by \
Igor Nesterov, Ryan Gordon, Matt Hargett, Ian Hanschen, Michel Montague, \
Justin Kerk and Claudio Matsuoka.", -1, 5, 60, 240, 90
    CTEXT "This program is free software, you can redistribute and/or modify it \
under the terms of the GNU General Public License, version 2 or later, \
as published by the Free Software Foundation.",
		-1, 5, 95, 240, 125

	DEFPUSHBUTTON "&OK", IDOK, 100, 130, 50, 14
END

